html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


#score {
	position: relative;
}

p, .question, .header {
	/* The font style for all the text within the app */
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

#transition, #end {
	/* Positions the #transitions and #end in the center of the app, along with the color within the <div> */
	position: absolute;
	left: 0;
	right: 0;

	margin: auto;

	width: 600px;
	height: 400px;

	background-color: #00CC33;

	text-align: center;
	font-size: 40px;
	color: white;

	display: none;

	border-radius: 10px;
}

.count {
	/* Handles the count ticker of how many questions were answered correctly */
	min-width: 100px;

	background-color: #00CC33;
}


body {
	
	background-color: #808080;
	
	width: 1060px;

	margin: auto;

}


#logo {

	/* Places the image in #logo */
	background: url('https://dl.dropboxusercontent.com/u/263968982/1195000547384182986tv_opt.png');
	background-repeat: no-repeat;
	
	width: 214px;
	height: 210px;

	/* Positions the #logo */
	margin: auto;
	margin-top: 150px;

}

#arrow{

	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_embedded-blue-arrow-point-up-left-md.png');
	background-repeat: no-repeat;

	min-width: 142px;
	height: 139px;

	/* Places the arrow near the 'Replay Button' */
	position: absolute;
	top: 100px;
	left: 110px;
}

/* Handles the font, size of the questions, and poitions withing the #transitions */
#contain, #one, #two, #three, #four, #five {
	color: black;

	font-size: 20px;
	font-family: impact;

	margin-top: 50px;
	text-align: center;

	min-width: 800px;

	margin: auto;
}


/* Handles the options of each question. Where to position it and the width of each button */
#button, #a, #b, #c, #d, #e {
	position: relative;

	margin: auto;
	margin-top: 30px;
	margin-left: 0px;


	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


	min-width: 150px;
}

/* Provides decoration and color for each option */
#button {
	border: none;

	background-color: #FF6633;

	color: #F0F0F0;
}

#one, #two, #three, #four, #five, #new, #arrow {
	display: none;
}

/* Details the Replay Quiz button. Gives it color, handles the font-size, and positions it */
#new {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;

	border: none;

	background-color: #FF6633;

	color: #F0F0F0;

	font-size: 18px;

	position: absolute;
	top: 40px;
	left: 40px;

	height: 34px;
}

#a:hover, #b:hover, #c:hover, #d:hover, #e:hover {
	background-color: #CC33FF;
}

#button:hover, #new:hover {
	background-color: #FF6633;

	color: gold;

	border: none;
}

/* Positions the options for each question and the text within the options */
ul, #options-one, #options-two, #options-three, #options-four, #options-five {
	list-style-type: none;
	
	position: relative;

	text-align: center;

	display: none;
}

#options-two, #options-three, #options-four, #options-five{
	display: none;
}


section {

	margin: auto;
}

/* Places the elements withing a <li> in a line instead of a coloumn */
li {
	display: inline-block;

	font-size: 14px;

}

/* Details each individual button */
#a, #b, #c, #d, #e {
	border-radius: 1000px;

	height: 40px;
	width: 200px;

	background-color: #3366FF;
	color: white;

	text-align: center;
}